body {
    padding: 0;
    margin: 0;
    font-size: 70%;
    font-family: Verdana, sans-serif;
    background: black url(img/WoodBackground.jpg) no-repeat fixed top center;
    background-size: 100% 100%;
}

h1{
    color: #3f3b4b;
    font-size: 50px;
    margin: 1px 0px 0px 1px;
    padding: 0;
}