body {
    padding: 0;
    margin: 0;
    font-size: 70%;
    font-family: Verdana, sans-serif;
    background: #3f3b4b url(img/concrete.jpg) no-repeat fixed top center;
    background-size: 100% 100%;
}

h1 {
    color: #f37844;
    font-size: 40px;
    margin: 5px 0 5px 0;
    padding: 0;
    text-shadow: 2px 2px 0 black;
}

h2 {
    color: #dab35f;
    font-size: 30px;
    margin: 5px 0 5px 0;
    padding: 0px;
    text-shadow: 2px 2px 0 black;
}

p {
    color: #3f3b4b;
    font-size: 18px;
    margin: 0 5px 10px 0;
    padding: 0;
    text-shadow: 0.5px 0.5px 0 black;
}

a, a:visited {
    color: #f37844;
}

a:hover {
    color: #dab35f;
}

.left{
    float:left;
}

.right {
    float:right;
}

.contentWrapper {
    margin: 0 auto;
    max-width: max-content;
    padding: 0 0.5px;
}

header {
    margin: 0 0 1px;
    padding: 5px 0px 0px 1px;
    height: 300px;
    border: 5px solid black;
    background: #3f3b4b url(img/city.jpg) 55% 55% / 100% no-repeat;
}

header h1 {
    font-family:Arial, Helvetica, sans-serif;
    color: #dab35f;
    font-size: 75px;
    margin: 100px 0 0 -250px;
    text-shadow: 2px 4px 0px black;
}

nav {
    font-size: 20px;
    padding: 1px 1px 0.5px;
    letter-spacing: 3px;
}

nav ul li {
    float: left;
    margin-left: 35px;
    list-style-type: none;
    border: 2px black solid;
    background-color: black;
}

nav li {
    display: inline-block;
    margin: 0;
}

nav#topMenu {
    float: right;
    margin: -100px -475px 0 0;
    padding: 1px;
    height: 0px;
}

nav#topMenu li {
    padding: 1px;
    vertical-align: middle;
}

nav#lowerMenu {
    margin: 25px 0px 0px -240px;
}

section#main {
    margin: 0 0 32px;
    padding: 50px 0 50px 50px;
    display: inline-block;
    border-radius: 10px;
}

section#main h1{
    float: left;
    margin: 0 150px 0 637px;
    font-size: 60px;
}

section div.panel {
    position: relative;
    width: 600px;
    margin: 0 92px 0 200px;
    padding: 16px;
    display: inline-block;
}

section div.panel img.cardType {
    width: 65%;
    border: 5px solid black;
}

section#bottomMenu {
    width: 80%;
    background-color: black;
    text-align: center;
    margin: auto;
}

section#bottomMenu p {
    color: #f37844;
}


footer {
    background-color:gray;
    font-size: 20px;
    color: black;
    text-align: center;
    margin: 150px 0 0 0;
    padding: 10px 0;
    border: 3px solid black;
}

footer ul#menuFooter {
    display: inline-block;
    list-style: none;
    margin: 12px 0 15px 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
    margin: 0;
    padding: 0 12px 0 0;
}

button {
    font-size: 15px;
    background-color: black;
    color: #f37844;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
}

button:hover {
    background-color: black;
    color: #dab35f;
}

