body {
    padding: 0;
    margin: 0;
    font-size: 70%;
    font-family: Verdana, sans-serif;
    background: #3f3b4b url(img/concrete.jpg) no-repeat fixed top center;
    background-size: 100% 100%;
}

h1{
    color: #3f3b4b;
    font-size: 50px;
    margin: 1px 0px 0px 1px;
    padding: 0px;
}

h2 {
    color: #4d6f6c;
    font-size: 25px;
    margin: 1px 0px 0px 1px;
    padding: 0px;
}

a, a:visited {
    color: #f37844;
}

a:hover {
    color: #dab35f;
}

.contentWrapper {
    margin: 0 auto;
    max-width: max-content;
    padding: 0 0.5px;
}

.left {
    float: left;
}

.right {
    float: right;
}

header {
    margin: 0 0 1px;
    padding: 5px 0px 0px 1px;
    height: 300px;
    background: #3f3b4b url(img/city.jpg) 55% 55% / 100% no-repeat;
}

header h1 {
    font-family:Arial, Helvetica, sans-serif;
    color: #dab35f;
    font-size: 75px;
    margin: 100px 0 0 -250px;
    text-shadow: 2px 4px 0px gray;
}

nav {
    font-size: 17px;
    margin: 45px 0px;
    padding: 1px 1px 0.5px;
    letter-spacing: 3px;
}

nav li {
    display: inline-block;
    margin: 0;
}

nav#topMenu {
    float: right;
    margin: -110px -480px 0 0;
    padding: 1px;
    height: 0px;
}

nav#topMenu li {
    padding: 0 1px 0 2px;
    vertical-align: middle;
}

nav#lowerMenu {
    float: left;
    margin: 45px 0px 0px -240px;
}
